
    body{
      background-color:hsl(30, 38%, 92%);
      display: flex;
     flex-direction: row;
    justify-content: center;  
    }
    .wrapper{
      position: absolute;
      top: 0;
      left:0;
      right:0;
      bottom:0; 
      display: flex;
     flex-direction: column;
     align-items: center;
    justify-content: center;     
    }
    .card{
      border-radius:1em;
      overflow:hidden ;
      width: 32em;
      height:25em;
      background-color: hsl(30, 38%, 92%);
      display: flex;}
   picture img{ 
      height:25em;
      width:16em;}

      .wrap{
        
        width: 32em;
      height:25em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: hsl(0, 0%, 100%);
      }
      
      ul{
        padding: 1.1em;
      }
      .littleTitle{
    
    font-weight: 500;
    font-size:smaller;
    color:hsl(228, 12%, 48%);
    font-family: Montserrat;
    letter-spacing: 0.8em;
   }
   .bigTitle{
    padding-top: 0.5em;
    color:hsl(212, 21%, 14%);
    font-family: Fraunces;
    font-weight:1000;
    font-size:medium;
    line-height: 1em;
    
   }
   .introduction{
    padding-top:1.8em;
    color:hsl(228, 12%, 48%);
    font-family: Montserrat;
    font-size:0.6em;
    line-height: 2em;
    letter-spacing: 0.01em;
   
   }
   .price{
    padding-left: 1.1em;
    display: flex;
 
   
   }
   .price1{
    margin-right: 0.5em;
    font-family: Fraunces;
    font-weight: 700;
    font-size: large;
    color:hsl(158, 36%, 37%);
   
   }
   .price2{
    align-self: center;
    padding-left: 1em;
    text-decoration: line-through;
    font-family: Montserrat;
    font-size:0.1em;
    color:hsl(228, 12%, 48%);
   }
   button{
   margin:1em;
   padding:1em 1em;
    color:aliceblue;
    border-radius: 0.5em;
    border-style: none;
    font-weight: bolder;
    font-size:smaller;
    font-family:Montserrat ;
    background-color: hsl(158, 36%, 37%);}
    button:hover{background-color:hsl(120, 100%, 15%);}
   i{
    margin-right: 1em;
   }
    .attribution {
       font-size: 11px; text-align: center; }
    .attribution a { 
      color: hsl(228, 45%, 44%); }

      @media screen and (max-width: 376px) {
        
          .card{
            
            width:98%;
            height:90%;
            display: flex;
            flex-direction: column;}
         picture img{ 
                width:100%;
                height:max-content;
            }
      
            .wrap{
              width: fit-content;
             
            }
            
       

    }
 